{% extends 'client/index.html.twig' %}

{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2><i class="fa fa-angle-right"></i> Projects</h2>
        </div>
        <section id="unseen">
            <div class="pull-left search">
                {{ form_start(form) }}
                {{ form_row(form.name_project) }}
                {{ form_end(form) }}
            </div>
            <table class="table table-condensed table-content">
                <thead>
                <tr class="title-table">
                    <th class="">Name</th>
                    <th scope="col" class=" numeric">Number of trains</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr class="td-table">
                        <td><a href="{{ path('client.project-show', {id: project.id}) }}">{{  project.name }}</td>
                        <td>
                            {#                                       {% for train in project.trains %}#}
                            {{  project.trains|length }}
                            {#                                        {% endfor %}#}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}