{% extends 'alstom/index.html.twig' %}

            {% block body %}
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1>Clients</h1>
                        <a href="{{ path('alstom.create-client') }}"><button class="btn btn-primary">New</button></a>
                    </div>
                <div class="jumbotron search-bar-client">
                    <div class="container">
                        {{ form_start(form) }}
                        <div class="form-row row">
                            <div class="col-8">
                                {{ form_row(form.name_client) }}
                            </div>
{#                            <div class="col">#}
{#                                {{ form_row(form.country) }}#}
{#                            </div>#}
                            <div class="col-2">
                                <button class="btn btn-primary">Search</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                 {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                    {% endfor %}
                <div class="table-responsive">
                    <table class="table table-striped table-sm table-all-clients">
                        <thead class="thead-dark">
                        <tr class="title-table-clients">
                            <th scope="col" class="">Name</th>
                            <th scope="col" class="title-nbtrains-clients ">Number of trains</th>
                            <th scope="col" class="title-email-clients">Email</th>
                            <th scope="col" class="title-countries-clients"> Countries</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for client in clients %}
                            <tr>
                                <td class="name-client-table">{{ client.name }}</td>
                                <td class="nbtrains-client-table">{{ client.trains }}</td>
                                <td class="email-client-table">{{ client.email }}</td>
{#                                Recuperer country des clients et afficher drapeau en fonction #}
                                <td class="countries-client-table">client.countries</td>
                                <td class="content-btn-edit-delete">
                                    <a href="{{ path('alstom.edit-client', {id: client.id}) }}"><button class="btn btn-secondary btn-edit-client">Edit</button> </a>
                                    <form method="post" action="{{ path('alstom.delete-client' ,{id:client.id}) }}" onsubmit="return confirm('Are you sure to delete this client?')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
                                        <button class="btn btn-danger btn-delete-client">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </main>
            {% endblock %}
