{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet">
{% endblock %}
{{ form_start(form) }}
<div class="text-left">
    <div class="row">
        <div class="col-md-12">{{ form_row(form.name) }}</div>
        {# <div class="col-md-12">{{ form_row(form.trains) }}</div> #}

    </div>
    {# 
                <div class=" content-img-form-project col-12">
                    {% if button == 'Edit' %}
                        {% if project.filename %}
                            <img class="img-project-form img-fluid" src="/build/img/projects/{{ project.filename }}">
                        {% else %}
                            <img class="img-project-form img-fluid" src="{{ asset('../build/img/projects/project-background.jpg') }}" alt="{{ project.name }}">
                        {% endif %}
            
                    {% else %}
                        <img id="img-project-form" class="img-project-form img-fluid" src="{{ asset('../build/img/projects/project-background.jpg') }}">
                    {% endif %}
                </div>
            
                {{ form_row(form.profilePicture) }} #}

    <button class="btn btn-primary mt-4">{{ button|default('Send') }}</button>
</div>
{{ form_end(form) }}
