{% extends 'alstom/index.html.twig' %}


{# <h1 class="title_fleet_management">{{ project.name|upper }}</h1> #}
{% block body %}

    <main class="col-md-12 ml-sm-auto col-lg-12 pl-5 px-4 main-show-fleet" role="main">
        <div class="container-header container-fluid">
            <div class="row content-details-img">
                <a class="btn-edit" href="{{ path('alstom.edit-project',{id: project.id}) }}">
                    <i class="fas fa-edit"></i>
                </a>
                <div class="col-md-3 img">
                    <img id="img-project" class="img-project img-fluid img-rounded" src="{{ asset('../build/img/projects/img-test.png') }}" alt="{{ project.name }}">
                </div>
                <div class="col-md-9 details">

                    <h1>{{ project.name|upper }}</h1>
                    <div class="mt-5">
                        <p class="btn-primary btn col-2" data-target="#modal-form-train" data-toggle="modal">Add trains</p>
                        <p class="btn-success btn col-2">Create train</p>
                    </div>

                </div>
            </div>
            <div class="border-separate-picture-info"></div>
            <div class="row content-dashboard-table">
                <div class="col-md-8 content-dasboard">
                    <img class="img img-responsive img-fluid" src="{{ asset('../build/img/dashboard.png') }}">
                </div>
                <div class="col-md-3" style="padding:0">
                    <table class="table table-striped table-show-project table-content">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Trains :</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for train in project.trains %}
                                <tr class="col-md-12 title-table">
                                    <td class="td-table">
                                        <a href="{{ path('alstom.show-train', {id: train.id}) }}">
                                            {{ train.name }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </main>
{% endblock %}
