{% extends 'alstom/index.html.twig' %}


{% block body %}
    <main class="col-md-12 ml-sm-auto col-lg-12 pl-5 px-4 main-fleet" role="main">

        <h1 class="title_fleet_management">{{ project.name|upper }}</h1>

        <section class="card mt-3 container-fluid">
            <a class="btn-edit" href="{{ path('alstom.edit-project',{id: project.id}) }}">
                <button class="btn btn-secondary ">
                    <i class="fas fa-edit"></i>
                </button>
            </a>

            <div class="background-panel-project">
                <figure class="panel meta">
                    <div class="img-description-project">
                        <img id="img-project" class="img-project img-fluid" src="{{ asset('../build/img/projects/project-background.jpg') }}" alt="{{ project.name }}">
                    </div>
                </figure>
            </div>

            <div class="border-separate-picture-info"></div>

            <div class="panel info">
                <div class="row content-panel mt mb">
                    <div class="col-md-9">
                        <div class="col-md-11">
                            <h2>Dashio is a fully responsive admin dashboard template built with Bootstrap 3.1.1 Framework</h2>
                        </div>
                        <div class="text-descrip-project col-md-11">
                            <p class="mt">Later, when we reached the city, and glanced down the chief avenue, smouldering in its crushed-strawberry tint, those splendid effects were repeated; for every balcony, and every fanciful bird-cage of a snuggery countersunk in the house-fronts,
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                and all the long lines of roofs were crowded with people, and each crowd was an explosion of brilliant color.</p>
                            <p>For color, and picturesqueness, and novelty, and outlandishness, and sustained interest and fascination, it was the most satisfying show I had ever seen, and I suppose I shall not have the privilege of looking upon its like again.</p>
                            <p>In the first place God made idiots. This was for practice. Then He made School Boards. --Pudd'nhead Wilson's New Calendar.</p>
                            <p>"I pray please to give me some action (work) for I am very poor boy I have no one to help me even so father for it so it seemed in thy good sight, you give the Telegraph Office, and another work what is your wish I am very poor boy, this understand
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                what is your wish you my father I am your son this understand what is your wish.</p>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <p class="btn-primary btn col-12">Add trains</p>
                        <p class="btn-success btn col-12">Create train</p>

                        <table class="table table-striped table-show-project table-content">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Trains :</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for train in project.trains %}
                                    <tr class="col-md-12 title-table">
                                        <td class="td-table">
                                            <a href="{{ path('alstom.show-train', {id: train.id}) }}">
                                                {{ train.name }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </section>
    </main>
{% endblock %}
{% block javascripts %}
    <script>
        let click = false;
        $('#img-project').click(function () {

            if (click == false) {
                $('.img-description-project').addClass('clicked');
                click = true;
            } else {
                $('.img-description-project').removeClass('clicked');
                click = false;
            }

        });
    </script>
{% endblock %}
