<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Client
            {% endblock %}
        </title>
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
        <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ asset('build/img/logo-alstom.png') }}">
        <link rel="stylesheet" href="{{ asset('build/app~css/app.css') }}"> {% block stylesheets %}{% endblock %}

        </head>
        <body>
            {#    Navbar de base en plein écran#}
            <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow navbar-fullscreen">
                <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Client user</a>
                <input aria-label="Search" class="form-control form-control-dark w-100" placeholder="Search" type="text">
                <ul class="navbar-nav px-3">
                    <li class="nav-item text-nowrap">
                        <a class="nav-link" href="{{ path('logout') }}">Sign out</a>
                    </li>
                </ul>

            </nav>

            {# Navbar burger en petit écran + la sidebar#}
            <div class="pos-f-t navbar-smallscreen">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="bg-dark p-4">
                        <a class="navbar-brand col-sm-12 mr-0 tit" href="#">Client user</a>
                        <input aria-label="Search" class="form-control form-control-dark w-100" placeholder="Search" type="text">
                        <ul class="navbar-nav px-3">
                            <li class="nav-item">
                                <a class="nav-link {% if(current_menu == " projects") %}active{% endif %}" href="{{ path('client.projects') }}">
                                    <span data-feather="layers"></span>
                                    Projects
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if(current_menu == " trains") %}active{% endif %}" href="{{ path('client.trains') }}">
                                    <span data-feather="layers"></span>
                                    Trains
                                </a>
                            </li>
                            <li class="nav-item text-nowrap">
                                <a class="nav-link signout-burger" href="{{ path('logout') }}">Sign out</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <nav class="navbar navbar-dark bg-dark">
                    <button aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarToggleExternalContent" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
            </div>

            {# Sidebar en plein écran#}
            <div class="container-fluid">
                <div class="row">
                    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                        <div class="sidebar-sticky sidebar-client">
                            <ul class="nav flex-column item-sidebar">
                                <li class="nav-item ">
                                    <a class="nav-link {% if(current_menu == " home") %}active{% endif %} title-sidebar" href="{{ path('client.home') }}">
                                        <i class="fas fa-home"></i>
                                        <span data-feather="home">Home</span>

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if(current_menu == " projects") %}active{% endif %}" href="{{ path('client.projects') }}">
                                        <i class="fas fa-project-diagram"></i>
                                        <span data-feather="layers">Projects</span>

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if(current_menu == " trains") %}active{% endif %}" href="{{ path('client.trains') }}">
                                        <i class="fas fa-subway"></i>
                                        <span data-feather="layers">Trains</span>

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if(current_menu == " users") %}active{% endif %}" href="{{ path('client.users') }}">
                                        <i class="fas fa-user-friends"></i>
                                        <span data-feather="layers">Users</span>

                                    </a>
                                </li>
                            </ul>
                            <ul class="nav flex-column item-sidebar">
                                <li class="nav-item">
                                    <a class="nav-link {% if(current_menu == " home") %}active{% endif %} second-title-sidebar" href="{{ path('client.home') }}">
                                        <i class="fas fa-cog"></i>
                                        <span data-feather="home">Settings</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if(current_menu == " create-user") %}active{% endif %}" href="{{ path('client.create-user') }}">
                                        <i class="fas fa-user-plus"></i>
                                        <span data-feather="layers">Create user</span>

                                    </a>
                                </li>

                            </ul>

                        </div>
                    </nav>

                    {% block body %}
                        <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                <h1 class="h2">
                                    <i class="fas fa-chart-pie"></i>Dashboard</h1>
                            </div>
                            <div class="content-api-logs">
                                <div class="col-md-10 content-api-grafana"></div>
                                <div class="col-md-2 content-btn-logs">
                                    Logs
                                </div>
                            </div>
                        </main>
                    {% endblock %}
                </div>
            </div>
            <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <script src="{{ asset('../build/app.js') }}"></script>
            {% block javascripts %}{% endblock %}
        </body>
    </html>
