<div class="content-form-equipment row col-12" id="content-form-equipment">
    <div class="col-md-12">
        <h4 id="header-equipments">Equipments
        </h4>
        <div class="show-equipment" id="show-equipment"></div>
        <div class="form-equipment" id="formulaire-equipment">
            {{ form_start(form_equipement, {'action': path('alstom.addEquipment'), 'method': 'POST',
               'attr': {'id': 'form_equipement'}}) }}


            <div class="type-equipement row">
                <div class="col-md-12">
                    {{ form_row(form_equipement.Type) }}
                </div>
                {# <div class="col-md-2" id="btn-create-type">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    <p class="btn-create-type">+</p>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                </div> #}
            </div>
            <div class="type-equipement row">
                <div
                    class="col-md-10">{# {{ form_row(form_equipement.Sous_type) }} #}
                </div>
                {# <div class="col-md-2" id="btn-create-sousType">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    <p class="btn-create-type">+</p>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                </div> #}
            </div>
            {# {{ form_row(form_equipement.DTR_board) }}
                                                                                                                        
                                                                                                                                    {{ form_row(form_equipement.Indice_DTR) }}
                                                                                                                        
                                                                                                                                    {{ form_row(form_equipement.Num_serie) }} #}


            <p><input class="btn-valid-Equipment" id="soumission-equipement" name="soumission_equipement" type="submit" value="Add"/></p>
            {{form_end(form_equipement)}}
            {# <a href="{{path('alstom.addEquipment')}}">add</a> #}
        </div>
        <div class=" mt-4">

            <a class="btn-add-equipment col-5 ml-5 mb-5" id="create-equipment">Add equipement</a>
        </div>
        <div class="mt-5">
            <a class="btn-previous-equipment col-5 ml-5 " id="previous-equipment">Previous</a>

        </div>

    </div>
</div>


{% block javascripts %}{% endblock %}
