<div class="content-form-equipment row col-12" id="content-form-equipment">
    <div class="col-md-12">
        <h4 id="header-equipments">Equipments
        </h4>
        <div class="show-equipment" id="show-equipment">
            {% for equipment in equipments %}
                <h5>{{equipment.type}}</h5>
                <h6>{{equipment.sousType}}</h6>
                <div>
                    <p>{{equipment.DTRBoard}}</p>

                    <p>{{equipment.IndiceDTR}}</p>

                    <p>{{equipment.NumSerie}}</p>
                </div>

            {% endfor %}
        </div>
        <div class="form-equipment" id="formulaire-equipment">
            {{ form_start(form_equipement, {'action': path('alstom.create-train'), 'method': 'POST'}) }}

            <div class="type-equipement row">
                <div class="col-md-12">
                    {{ form_row(form_equipement.Type) }}
                </div>
                {# <div class="col-md-2" id="btn-create-type">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    <p class="btn-create-type">+</p>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                </div> #}
            </div>
            <div class="type-equipement row">
                <div
                    class="col-md-10">{# {{ form_row(form_equipement.Sous_type) }} #}
                </div>
                {# <div class="col-md-2" id="btn-create-sousType">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    <p class="btn-create-type">+</p>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                </div> #}
            </div>
            {# {{ form_row(form_equipement.DTR_board) }}
                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                        {{ form_row(form_equipement.Indice_DTR) }}
                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                        {{ form_row(form_equipement.Num_serie) }} #}


            {{form_end(form_equipement)}}
            <p><input class="btn-valid-Equipment" id="soumission-equipement" name="soumission_equipement" type="submit" value="Add"/></p>


        </div>
        <div class=" mt-4">

            <a class="btn-add-equipment col-5 ml-5 mb-5" id="create-equipment">Add equipement</a>
        </div>
        <div class="mt-5">
            <a class="btn-previous-equipment col-5 ml-5 " id="previous-equipment">Previous</a>

        </div>

    </div>
</div>


{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>


    <script></script>
{% endblock %}
