{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet">
{% endblock %}


<!-- Ici ton contenu 1 -->

<!-- Ici ton contenu 2 -->


{{ form_start(form_train, {'action': path('alstom.addTrains'), 'method': 'POST',
               'attr': {'id': 'form_train'}
}) }}


<div class="row">
    <div class="col-md-10">{{ form_row(form_train.name) }}</div>
    <div class="col-md-10">{{ form_row(form_train.projects) }}</div>
    <div class="col-md-10">{{ form_row(form_train.trainType) }}</div>
    {{form_widget(form_train.position_ERTMS, {
        'attr' : {
            'style' : 'display:none !important'
        }
    })}}


    {# {{ form_row(form_train._token) }} #}


    <div class="content-type-train col-md-12 mt-4" id="select_locomotive">
        <h4>Select EVC :
        </h4>
        <img src="{{ asset('../build/img/trains/locomotive-select.svg') }}" alt="" class="col-md-10 img-type-train">
        <figure class="content-ertms col-md-10">
            <img src="{{ asset('../build/img/trains/ertms.svg') }}" alt="" class="ertms " id="ertms-loco-1">
            <img src="{{ asset('../build/img/trains/ertms.svg') }}" alt="" class="ertms " id="ertms-loco-2">

        </figure>
    </div>

    <div class="content-type-train col-md-12 mt-4" id="select_train">
        <h4>Select EVC :
        </h4>
        <img src="{{ asset('../build/img/trains/train-select.svg') }}" alt="" class="col-md-10  img-type-train">
        <figure class="content-ertms col-md-10">
            <img src="{{ asset('../build/img/trains/ertms.svg') }}" alt="" class="ertms" id="ertms-train-1">
            <img src="{{ asset('../build/img/trains/ertms.svg') }}" alt="" class="ertms" id="ertms-train-2">
            <img src="{{ asset('../build/img/trains/ertms.svg') }}" alt="" class="ertms " id="ertms-train-3">
        </figure>
    </div>

    <div class="col-md-10 mt-4" id="btn-choice-ertms">
        <div class="content-btn-train col-12">
            <a href=""></a>
            <button class="btn btn-secondary" data-target="#modalPoll-1" data-toggle="modal" id="create-ertms-1" type="button">Add ERTMS</button>
            <button class="btn btn-secondary" data-target="#modalPoll-1" data-toggle="modal" id="create-ertms-2" type="button">Add ERTMS</button>
        </div>
    </div>
    <div class="name-ertms">
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade right" data-backdrop="false" id="modalPoll-1" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-full-height modal-right modal-notify modal-info">

                <div class="modal-content">
                    <button aria-label="Close" class="close" data-dismiss="modal" id="close-modal" type="button">
                        <span aria-hidden="true" class="white-text close-name-ertms">×</span>
                    </button>
                    <!--Header-->
                    <div class="modal-header" id="modal-header">
                        {% include('alstom/trains/_form-ertms.html.twig') %}
                        {% include('alstom/trains/_form-equipment.html.twig') %}
                        {# {% include('alstom/trains/_form-typeEquipment.html.twig') %}
                        {% include('alstom/trains/_form-soustypeEquipment.html.twig') %} #}

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
{# <p><input class="btn btn-primary mt-4" id="soumission-train" name="soumission_train" type="submit" value="Create"/></p> #}
{{ form_end(form_train) }}

{% block javascripts %}{% endblock %}
