{% extends 'alstom/index.html.twig' %}


{% block body %}
    <main class="col-md-12 ml-sm-auto col-lg-12 pl-5 px-3 main-fleet" role="main">
        <div class="container-header container-fluid">
            <div class="row content-details-img">
                <a class="btn-edit" href="{{ path('alstom.edit-train',{id: train.id}) }}">
                    <i class="fas fa-edit"></i>
                </a>
                <div class="col-md-3 img">
                    {% if train.trainType == "train" %}
                        <div class="img img-fluid">
                            <img src="{{ asset('../build/img/trains/train-select.svg') }}" alt="">
                        </div>
                    {% else %}
                        <div class="img img-fluid">
                            <img src="{{ asset('../build/img/trains/locomotive-select.svg') }}" alt="">
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-9 details">
                    <h1>{{ train.name|upper }}</h1>
                    <span class="content-title-details">
                        <h3>Type :</h3>
                        <p>{{train.TrainType}}</p>
                    </span>
                    <span class="content-title-details">
                        <h3>Fleet :</h3>
                        <h5>{{train.Projects.name}}</h5>

                    </span>

                </div>
            </div>
            <div class="border-separate-picture-info"></div>
            <div class="row content-dashboard-table">
                <div class="col-md-8 content-dasboard">
                    <iframe src="https://grafana.deploy7.smart-mobility.alstom.com/d/dDRbJkbikhgrf/services-status?orgId=1&theme=light" width="900" height="900" frameborder="0"></iframe>
                </div>
                <div class="col-md-3" style="padding:0">
                    <table class="table table-striped table-show-project table-content">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Equipments :</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set presence_baseline = false%}{% set id_baseline = 0 %}
                            {% for baseline in train.baselines %}
                                {% set presence_baseline = true %}
                                {% if baseline.status %}
                                    <td class="td-table">
                                        <a href="{{ path('alstom.show-baseline-train', {id: baseline.id}) }}">
                                            {{ baseline.name }}
                                            {% set id_baseline =  baseline.id %}
                                        </a>
                                    </td>
                                {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>
                    {% if presence_baseline == false %}
                        <a href="{{path('alstom.addBaselineToTrain',{id:train.id})}}" class="btn-primary btn col-12">Add Equipment</a>
                    {% endif %}

                </div>

            </div>
        </div>


    </main>
{% endblock %}
