{% extends 'alstom/dashboard.html.twig' %}
{% block body %}

    <main class="" role="main">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>
                <i class="fa fa-angle-right"></i>
                Trains</h2>
            <a href="{{ path('alstom.create-train') }}">
                <button class="btn btn-primary">New</button>
            </a>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <section id="unseen">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Search</div>
                    <div class="btn-actions-pane-right">
                        <div
                            class="pull-left search">
                            {# <input id="search-fleet" name="search-fleet" type="text"> #}
                            {{ form_start(form, {'attr':{'id':'search-train', 'class':'form-search'}}) }}
                            {{ form_widget(form.name_train) }}
                            {{ form_end(form) }}
                        </div>
                        <div class="result" id="result-train"></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Name</th>
                                <th class="text-center">Fleet</th>
                                <th class="text-center">Baseline</th>
                                <th style="padding:0"></th>
                                <th class="text-center">Equipement</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for train in trains %}
                                <tr class="td-table">
                                    <td class="text-center text-muted">
                                        <a href="{{ path('alstom.train-show', {name: train.name}) }}">{{  train.name }}</a>
                                    </td>
                                    {% if train.Projects %}
                                        <td class="text-center">{{ train.Projects.name|upper }}</td>
                                    {% else %}
                                        <td class="text-center"></td>
                                    {% endif %}
                                    {% set presence_baseline = false %}
                                    <td class="text-center" colspan="2" style="display:flex;flex-direction:column">
                                        {% for baseline in train.Baselines %}
                                            {% set presence_baseline = true %}
                                            <a href="{{ path('alstom.show-baseline-train', {id: baseline.id}) }}">{{  baseline.name }}</a>
                                        {% endfor %}
                                    </td>
                                    <td style="padding:0"></td>

                                    <td class="text-center" style="display:flex;flex-direction:column">
                                        {% for baseline in train.Baselines %}
                                            <a href="{{ path('alstom.show-baseline-train', {id: baseline.id}) }}">{{  baseline.etcsid }}</a>
                                        {% endfor %}
                                    </td>
                                    {% if presence_baseline == false %}
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
