{% extends 'alstom/index.html.twig' %}

{% block body %}
    <main class="col-md-10 offset-1 col-lg-11 main-show" role="main">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>
                <i class="fa fa-angle-right"></i>
                Trains</h2>
            <a href="{{ path('alstom.create-train') }}">
                <button class="btn btn-primary">New</button>
            </a>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <section id="unseen">
            <div class="pull-left search">
                {{ form_start(form) }}
                {{ form_row(form.name_train) }}
                {{ form_end(form) }}
            </div>
            <table
                class="table table-condensed table-content">
                {#                        <table class="table  table-striped table-condensed table-content">#}
                <thead>
                    <tr class="title-table">
                        <th scope="col">Name</th>
                        <th class="" scope="col">Fleet</th>
                        <th class="" scope="col">Baseline</th>
                        <th class="" scope="col">Equipement</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for train in trains %}
                        <tr class="td-table">
                            <td class="mt-4">
                                <a href="{{ path('alstom.show-train', {id: train.id}) }}">{{  train.name }}</td>
                            </td>
                            {% if train.Projects %}
                                <td>{{ train.Projects.name|upper }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% set presence_baseline = false %}
                            {% for baseline in train.Baselines %}
                                <td class="mt-4">
                                    {% set presence_baseline = true %}
                                    <a href="{{ path('alstom.show-baseline-train', {id: baseline.id}) }}">{{  baseline.name }}</td>
                                </td>
                                <td class="mt-4">
                                    <a href="{{ path('alstom.show-baseline-train', {id: baseline.id}) }}">{{  baseline.etcsid }}</td>
                                </td>
                            {% endfor %}
                            {% if presence_baseline == false %}
                                <td></td>
                            {% endif %}

                            <td></td>
                            {# <td class="content-btn-edit-delete">
                                                            <a href="{{ path('alstom.edit-train', {id: train.id}) }}">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                            <form method="post" action="{{ path('alstom.delete-train' ,{id:train.id}) }}" onsubmit="return confirm('Are you sure to delete this train?')">
                                                                <input name="_method" type="hidden" value="DELETE">
                                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ train.id) }}">
                                                                <button class="btn btn-danger btn-delete-client">
                                                                    <i class="fas fa-trash-alt"></i>
                                                                </button>
                                                            </form>
                                                        </td> #}
                        </tr>
                    {% endfor %}
                </tbody>
            </tbody>
        </table>
    </section>
</main>{% endblock %}
