{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
{% endblock %}
{{ form_start(form) }}
<div class="row">
    {% if button == 'Edit' %}
        {% if engineer.filename %}
            <img class="img-fluid" src="/build/img/engineers/{{ engineer.filename }}" alt="card-img-top">
        {% endif %}
    {% else %}
        <img src="{{ asset('build/img/engineers/avatar-engineer.svg') }}" class="avatar img-circle img-thumbnail" alt="avatar">
    {% endif %}
    <div class="col-md-10">{{ form_row(form.Name) }}</div>
    <div class="col-md-10">{{ form_row(form.Surname) }}</div>
    <div class="col-md-10">{{ form_row(form.Num_Badge) }}</div>
    <div class="col-md-10">{{ form_row(form.projects) }}</div>

</div>
<button class="btn btn-primary">{{ button|default('Send') }}</button>
