{% extends 'alstom/index.html.twig' %}

            {% block body %}
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2><i class="fa fa-angle-right"></i> Engineers</h2>
                        <a href="{{ path('alstom.create-engineer') }}"><button class="btn btn-primary">New</button></a>
                    </div>
                    <div class="jumbotron search-bar">
                        <div class="container">
                            {{ form_start(form) }}
                            <div class="form-row row">
                                <div class="col-8">
                                    {{ form_row(form.name_engineer) }}
                                </div>
{#                                <div class="col">#}
{#                                    {{ form_row(form.num_badge) }}#}
{#                                </div>#}
                                <div class="col-2">
                                    <button class="btn btn-primary">Search</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed table-content">
                            <thead>
                            <tr class="title-table">
                                <th scope="col">Name</th>
                                <th scope="col" class="">Surname</th>
                                <th scope="col" class="">Number of badge</th>
                                <th scope="col" class="">Projects</th>
                                <th scope="col" class="th-empty"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for engineer in engineers %}

                                <tr class="td-table">
                                    <td><a href="{{ path('alstom.engineer-show', {id: engineer.id}) }}">{{ engineer.name }}</a></td>
                                    <td>{{ engineer.surname }}</td>
                                    <td>{{ engineer.NumBadge }}</td>
                                    <td>
                                        {% for project in engineer.projects %}
                                            <a href="{{ path('alstom.project-show', {id: project.id}) }}"><p>{{ project.name }}</p></a>
                                        {% endfor %}
                                    </td>

                                    <td class="content-btn-edit-delete">
                                        <a href="{{ path('alstom.edit-engineer', {id: engineer.id}) }}"><button class="btn btn-secondary btn-edit-engineer"><i class="fas fa-user-edit"></i></button> </a>
                                        <form method="post" action="{{ path('alstom.delete-engineer' ,{id:engineer.id}) }}" onsubmit="return confirm('Are you sure to delete this engineer?')">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ engineer.id) }}">
                                            <button class="btn btn-danger btn-delete-engineer"><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </section>
                </main>
            {% endblock %}
