{% extends 'alstom/index.html.twig' %}


{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <section class="card mt-3">
            <a class="btn-edit" href="{{ path('alstom.edit-engineer',{id: engineer.id}) }}"><button class="btn btn-secondary "><i class="fas fa-user-edit"></i></button></a>
            <div class="background-panel-engin">

                <figure class="panel meta">
                    <picture class="picture-client">
                        {% if engineer.filename  is empty %}
                            <img class="avatar" src="{{ asset('build/img/engineers/avatar-engineer.svg') }}" alt="">
                        {% else %}
                            <img class="img-fluid" src="/build/img/engineers/{{ engineer.filename }}" alt="card-img-top">
                        {% endif %}
                    </picture>

                    <figcaption>
                        <h2 class="name">{{ engineer.name|upper }}</h2>
                        <h2 class="name">{{ engineer.surname |upper }}</h2>
                    </figcaption>
                </figure>

            </div>

            <div class="border-separate-picture-info"></div>
            <dv class="panel info">
                <dl class="skillz">
                    <dt>Numero badge   </dt>
                    <dd>{{ engineer.numBadge }}</dd>
                    <dt><i class="fas fa-project-diagram"></i>

                    </dt>
                    <dd>
                        {% for project in engineer.projects %}
                            <p> {{ project.name }} </p>
                        {% endfor %}
                    </dd>

                </dl>

            </dv>

        </section>

    </main>

{% endblock %}
