<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Alstom
            {% block title %}{% endblock %}
        </title>
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
        <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ asset('build/img/logo-alstom.png') }}">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}"> {% block stylesheets %}{% endblock %}
        </head>
        <body
            class="skin-default-dark fixed-layout">
            <!-- Preloader - style you can find in spinners.css -->
            <div class="preloader">
                <div class="loader">
                    <div class="loader__figure"></div>
                    <p class="loader__label">Alstom</p>
                </div>
            </div>
            <!-- Main wrapper - style you can find in pages.scss -->
            <div
                id="main-wrapper">
                <!-- Topbar header - style you can find in pages.scss -->

                <header class="topbar">
                    <nav
                        class="navbar top-navbar navbar-expand-md navbar-dark">

                        <!-- Logo -->

                        <div class="navbar-header">
                            <a
                                class="navbar-brand no-background" href="index.html">

                                <!-- Logo icon -->
                                <b>
                                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                    <img
                                    src="{{asset('/build/img/logo-alstom.svg')}}" alt="homepage" class="dark-logo img-fluid" style="width:18vw;"/>
                                <!-- Light Logo icon -->
                                </b>
                                <!--End Logo icon -->

                                <!-- Logo text -->

                            </a>
                        </div>
                        <!-- End Logo -->
                        <div
                            class="navbar-collapse">
                            <!-- toggle and nav items -->
                            <ul
                                class="navbar-nav mr-auto">
                                <!-- This is  -->
                                <li class="nav-item hidden-sm-up">
                                    <a class="nav-link nav-toggler waves-effect waves-light" href="javascript:void(0)">
                                        <i class="fas fa-bars"></i>

                                    </a>
                                </li>
                            </ul>
                            <ul
                                class="navbar-nav my-lg-0">
                                <!-- User profile and search -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="{{path('app_logout_1')}}">
                                        <i class="fas fa-sign-out-alt i_logout"></i>
                                    </a>
                                </li>
                                <!-- User profile and search -->
                            </ul>
                        </div>
                    </nav>
                </header>
                <!-- End Topbar header -->
                <!-- Left Sidebar - style you can find in sidebar.scss  -->

                <aside class="left-sidebar">
                    <div class="d-flex no-block nav-text-box align-items-center">
                        <span id="name-role-user" style="color:#ffffff;">
                            <p style="text-transform:uppercase; font-weight:bold; display:flex;align-items:center">
                                <i class="fas fa-user-circle" style="font-size:1.3em;padding-right:5px;"></i>
                                {{ app.user.username }}
                            </p>
                        </span>
                        {# <span><img src="{{asset('build/img/logo-alstom.png')}}" alt="elegant admin template" style="width:5vw"></span> #}
                        <a class="waves-effect waves-dark ml-auto hidden-sm-down" href="javascript:void(0)">
                            <i class="fas fa-bars"></i>
                        </a>
                        <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                    <!-- Sidebar scroll-->
                    <div
                        class="scroll-sidebar">
                        <!-- Sidebar navigation-->
                        <nav class="sidebar-nav">
                            <ul id="sidebarnav">
                                <li>
                                    <a class="waves-effect waves-dark" href="{{path('alstom.home')}}" aria-expanded="false">
                                        <i class="fas fa-home"></i>
                                        <span class="hide-menu">Home</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-dark" href="pages-profile.html" aria-expanded="false">
                                        <i class="fas fa-project-diagram"></i>
                                        <span class="hide-menu">Fleet Management</span>
                                    </a>
                                    <ul class="sub-menu-sidebar">
                                        <li class="{% if (current_menu == " fleet") %} active {% endif %}">
                                            <a href="{{path('alstom.projects')}}" class=" waves-effect waves-dark" aria-expanded=" false">
                                                Fleet</a>
                                        </li>
                                        <li class="{% if (current_menu == " trains") %} active {% endif %}">
                                            <a href="{{path('alstom.trains')}}" class=" waves-effect waves-dark" aria-expanded=" false">
                                                Trains</a>
                                        </li>
                                        <li class="{% if (current_menu == " baseline") %} active {% endif %}">
                                            <a href="{{path('alstom.baseline')}}" class=" waves-effect waves-dark" aria-expanded=" false">
                                                Baseline</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="waves-effect waves-dark" href="table-basic.html" aria-expanded="false">
                                        <i class="fas fa-file-upload"></i>
                                        <span class="hide-menu"></span>Logs</a>
                                    <ul>
                                        <li class="{% if (current_menu == " add-logs") %} active {% endif %}">
                                            <a href="{{path('alstom.add-logs')}}" class=" waves-effect waves-dark" aria-expanded=" false">
                                                Add</a>
                                        </li>
                                        <li class="{% if (current_menu == "searchlogs") %} active {% endif %}">
                                            <a href="{{path('alstom.logs')}}" class=" waves-effect waves-dark" aria-expanded=" false">
                                                Search</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="waves-effect waves-dark" href="pages-blank.html" aria-expanded="false">
                                        <i class="fas fa-tools"></i>

                                        <span class="hide-menu"></span>Tools</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-dark" href="{{path('users')}}" aria-expanded="false">
                                        <i class="fas fa-users"></i>
                                        <span class="hide-menu">Users</span>
                                    </a>
                                </li>

                            </ul>
                        </nav>

                    </div>
                </body>
            </html>
        </body>
    </html>
</aside>
<div class="page-wrapper">
    <div class="container-fluid"> {% block body %}{% endblock %}
        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="{{ asset('build/runtime.js') }}"></script>
<script src="{{ asset('build/vendors~app.js') }}"></script>
<script src="{{ asset('build/app.js') }}"></script></body></html>
