<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Alstom
            {% block title %}{% endblock %}
        </title>
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
        <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" rel="stylesheet">

        <link rel="icon" type="image/png" href="{{ asset('build/img/logo-alstom.png') }}">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}"> {% block stylesheets %}{% endblock %}
        </head>

        <body>
            {# Navbar burger en petit écran + la sidebar#}
            <div class="pos-f-t navbar-smallscreen">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="bg-dark p-4">
                        <a class="navbar-brand col-sm-12 mr-0 tit" href="#">Alstom user</a>
                        <input aria-label="Search" class="form-control form-control-dark w-100" placeholder="Search" type="text">
                        <ul class="navbar-nav px-3">
                            <li class="nav-item">
                                <a class="nav-link {% if(current_menu == " client") %}active{% endif %}" href="{{ path('alstom.client') }}">
                                    <span data-feather="layers"></span>
                                    Clients
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if(current_menu == " engineers") %}active{% endif %}" href="{{ path('alstom.engineers') }}">
                                    <span data-feather="layers"></span>
                                    Engineers
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if(current_menu == " projects") %}active{% endif %}" href="{{ path('alstom.projects') }}">
                                    <span data-feather="layers"></span>
                                    Projects
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if(current_menu == " trains") %}active{% endif %}" href="{{ path('alstom.trains') }}">
                                    <span data-feather="layers"></span>
                                    Trains
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if (current_menu == " baseline") %}active{% endif %}" href="{{ path('alstom.baseline') }}">
                                    <span data-feather="layers">Baseline</span>
                                </a>
                            </li>
                            <li class="nav-item text-nowrap">
                                <a class="nav-link signout-burger" href="{{ path('logout') }}">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <nav class="navbar navbar-dark bg-dark">
                    <button aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarToggleExternalContent" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
            </div>


            {% if current_menu == "trains"  or current_menu == "projects" or current_menu == "logs" 
or current_menu == "baseline"  or current_menu == "maintenance" %}

                {% include "alstom/_sidebar.html.twig" %}
            {% endif %}
            {% block body %}
                <main class="main-home container-fluid" role="main">
                    <div class="content-logo">
                        <img alt="Alstom logo" class="alstom-logo-home img-fluid" src="build/img/logo-alstom.svg">
                    </div>

                    <div class="d-flex  flex-wrap flex-md-nowrap pb-2 content-post-module" style="background-color:transparent">
                        <div
                            class="post-module col-md-3 col-sm-9 col-xs-9  mb-3">
                            <!-- Thumbnail-->
                            <div class="thumbnail">
                                <img src="/build/img/home-fleet.png"/></div>
                            <a
                                href="{{path('alstom.fleet_management')}}">
                                <!-- Post Content-->
                                <div class="post-content">
                                    <h1 class="title">Fleet management</h1>
                                    <p class="description"></p>
                                </div>
                            </a>
                        </div>
                        <div
                            class="post-module col-md-3 col-sm-9 col-xs-9 mb-3">
                            <!-- Thumbnail-->
                            <div class="thumbnail">
                                <img src="/build/img/home-logs.png"/></div>

                            <!-- Post Content-->
                            <a href="{{path('alstom.logs')}}">
                                <div class="post-content">
                                    <h1 class="title">LOGS</h1>
                                    <h2 class="sub_title">Add / Search logs
                                    </h2>
                                    <p class="description">
                                        <a href="{{path('alstom.add-logs')}}" class="btn btn-warning" type="button">Add
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <a href="{{path('alstom.search-logs')}}" class="btn btn-info" type="button">Search

                                            <i class="fas fa-search"></i>
                                        </a>

                                    </p>


                                </div>
                            </div>
                        </a>

                        <div
                            class="post-module col-md-3 col-sm-9 col-xs-9 mb-3">

                            <!-- Thumbnail-->
                            <div class="thumbnail">
                                <img src="/build/img/home-tools.png"/></div>

                            <!-- Post Content-->
                            <div class="post-content">
                                <h1 class="title">TOOLS</h1>
                                <p class="description"></p>

                            </div>
                        </div>

                    </div>


                </main>
            {% endblock %}
            {% block javascripts %}{% endblock %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
            <script>// $('select').selectpicker();</script>
        <script src="{{ asset('build/runtime.js') }}"></script>
        <script src="{{ asset('build/vendors~app.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html></body></html>
