{% extends 'alstom/dashboard.html.twig' %}
{% block body %}

    <main class="" role="main">


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>Create user</h1>
        </div>
        <div class=" content-form-engineer">
            {{ form_start(form,{ 'action': path('user_add')} ) }}

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.email) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.surname) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                {{ form_row(form.group) }}
                {{ form_row(form.fleets) }}

                {# {{ form_row(form.password) }} #}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            {{ form_end(form) }}

        </div>
    </main>
{% endblock %}
