{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet">
{% endblock %}
{{ form_start(form) }}
<div class="text-left">
    <div class="row">
        <div class="col-md-12">{{ form_row(form.name) }}</div>
        <div class="col-md-12">{{ form_row(form.projects) }}</div>

    </div>
    <button class="btn btn-primary mt-4">{{ button|default('Send') }}</button>
</div>
{{ form_end(form) }}
