{% extends 'client/index.html.twig' %}

{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2><i class="fa fa-angle-right"></i> Users</h2>
            <a href="{{ path('client.create-user') }}"><button class="btn btn-primary">New</button></a>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <section id="unseen">
{#            <div class="pull-left search">#}
{#                {{ form_start(form) }}#}
{#                {{ form_row(form.name_train) }}#}
{#                {{ form_end(form) }}#}
{#            </div>#}
            <table class="table table-condensed table-content">
                <thead>
                <tr class="title-table">
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr class="td-table">
                        <td ><a href="{{ path('client.show-user', {id: user.id}) }}">{{  user.name }}</td>
                        <td>{{ user.email}}</td>


                        <td class="content-btn-edit-delete">
                            <a href="{{ path('client.edit-user', {id: user.id}) }}"><i class="fas fa-edit"></i></a>
                            <form method="post" action="{{ path('client.delete-user' ,{id:user.id}) }}" onsubmit="return confirm('Are you sure to delete this user?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ train.id) }}">
                                <button class="btn btn-danger btn-delete-client"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}