<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Alstom{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>

{#    Navbar de base en plein écran#}
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow navbar-fullscreen">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('alstom.home') }}">Alstom user</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>

{# Navbar burger en petit écran + la sidebar#}
    <div class="pos-f-t navbar-smallscreen">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <a class="navbar-brand col-sm-12 mr-0 tit" href="#">Alstom user</a>
                <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
                <ul class="navbar-nav px-3">
                    <li class="nav-item">
                        <a class="nav-link {% if(current_menu == "client") %}active{% endif %}" href="{{ path('alstom.client') }}">
                            <span data-feather="layers"></span>
                            Clients
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if(current_menu == "engineers") %}active{% endif %}" href="{{ path('alstom.engineers') }}">
                            <span data-feather="layers"></span>
                            Engineers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if(current_menu == "projects") %}active{% endif %}" href="#">
                            <span data-feather="layers"></span>
                            Projects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if(current_menu == "trains") %}active{% endif %}" href="#">
                            <span data-feather="layers"></span>
                            Trains
                        </a>
                    </li>
                    <li class="nav-item text-nowrap">
                        <a class="nav-link signout-burger" href="#">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>

{# Sidebar en plein écran#}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky sidebar-alstom">
                    <ul class="nav flex-column item-sidebar-alstom">
                        <li class="nav-item ">
                            <a class="nav-link {% if(current_menu == "home") %}active{% endif %} title-sidebar" href="{{ path('alstom.home') }}">
                                <span data-feather="home"></span>
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% if(current_menu == "client") %}active{% endif %}" href="{{ path('alstom.client') }}">
                                <span data-feather="layers"></span>
                                Clients
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if(current_menu == "engineers") %}active{% endif %}" href="{{ path('alstom.engineers') }}">
                                <span data-feather="layers"></span>
                                Engineers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if(current_menu == "projects") %}active{% endif %}" href="#">
                                <span data-feather="layers"></span>
                                Projects
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if(current_menu == "trains") %}active{% endif %}" href="#">
                                <span data-feather="layers"></span>
                                Trains
                            </a>
                        </li>
                    </ul>


                </div>
            </nav>

            {% block body %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                </div>
                <div class="content-api-logs">
                    <p>Api</p>
                    <p>Logs</p>
                </div>
            </main>
            {% endblock %}
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="{{ asset('build/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
