{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
{% endblock %}
{{ form_start(form) }}
{{ form_start(form_evc) }}
<div class="row">
    <div class="col-md-10">{{ form_row(form.name) }}</div>
    <div class="col-md-10">{{ form_row(form.projects) }}</div>
    <div class="col-md-10">{{ form_row(form.trainType) }}</div>

    <div class="content-type-train col-md-12 mt-4" id="select_locomotive">
        <h4>Select EVC : </h4>
        <img src="{{ asset('/build/img/trains/locomotive-select.svg') }}" alt="" class="col-md-10 img-type-train">
        <figure class="content-evc col-md-10">
            <img src="{{ asset('/build/img/trains/evc.svg') }}" alt="" class="evc " id="evc-loco-1">
            <img src="{{ asset('/build/img/trains/evc.svg') }}" alt="" class="evc " id="evc-loco-2">

        </figure>
    </div>

    <div class="content-type-train col-md-12 mt-4" id="select_train">
        <h4>Select EVC : </h4>
        <img src="{{ asset('/build/img/trains/train-select.svg') }}" alt="" class="col-md-10  img-type-train">
        <figure class="content-evc col-md-10">
            <img src="{{ asset('/build/img/trains/evc.svg') }}" alt="" class="evc" id="evc-train-1">
            <img src="{{ asset('/build/img/trains/evc.svg') }}" alt="" class="evc" id="evc-train-2">
            <img src="{{ asset('/build/img/trains/evc.svg') }}" alt="" class="evc " id="evc-train-3">
        </figure>
    </div>

    <div class="col-md-10 mt-4" id="btn-choice-evc">
        <div class="content-btn-train col-12">
            <p id="create-evc">Create EVC</p>
            <p id="select-evc">Select EVC</p>
        </div>
    </div>

    <div class="col-md-10 mt-4" id="select-evc-train">
        {{ form_row(form.eVC) }}
    </div>

    <div class="col-md-10 mt-4" id="create-evc-train">
        {{ form_row(form_evc.ETCS_ID) }}
    </div>


</div>
<button class="btn btn-primary mt-4">{{ button|default('Send') }}</button>
{{ form_end(form_evc) }}
{{ form_end(form) }}



{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>

//        $('#select_train').hide();
//        $('#select_locomotive').hide();
$(document).ready(function() {

    //Vidage des inputs aux changement de select
    $('select[name="trains[projects]"], select[name="trains[trainType]"]').change(function(){
        $('input[name="trains[name]"]').val('');
    });



    //Traitement du choix du type de train
    $('#trains_trainType')

        .change(function () {

            let current_choice = "";

            $("#trains_trainType option:selected").each(function () {

                current_choice += $(this).text() + " ";

            });

            if (current_choice.trim() == 'Train') {
                $('#select_train').show();
                $('#select_locomotive').hide();

                $('#evc-train-1').click(function () {
                    $('#evc-train-1').addClass("selected");
                    $('#evc-train-2').removeClass("selected");
                    $('#btn-choice-evc').show();


                });
                $('#evc-train-2').click(function () {
                    $('#evc-train-2').addClass("selected");
                    $('#evc-train-1').removeClass("selected");
                    $('#evc-train-3').removeClass("selected");
                    $('#btn-choice-evc').show();


                });
                $('#evc-train-3').click(function () {
                    $('#evc-train-3').addClass("selected");
                    $('#evc-train-2').removeClass("selected");
                    $('#btn-choice-evc').show();
                });

                $('#trains_trainType').change(function () {$('#btn-choice-evc').hide();});




            } else if (current_choice.trim() == 'Locomotive') {

                $('#select_locomotive').show();
                $('#select_train').hide();

                $('#evc-loco-1').click(function () {
                    $('#evc-loco-1').addClass("selected");
                    $('#evc-loco-2').removeClass("selected");
                    $('#btn-choice-evc').show();

                });
                $('#evc-loco-2').click(function () {
                    $('#evc-loco-2').addClass("selected");
                    $('#evc-loco-1').removeClass("selected");
                    $('#btn-choice-evc').show();

                });
                $('#trains_trainType').change(function () {$('#btn-choice-evc').hide();});


            }

        }).change();
})
    $('#select-evc').click(function () {
        $('#create-evc-train').hide();
        $('#select-evc-train').show();
    })
    $('#create-evc').click(function () {
        $('#select-evc-train').hide();
        $('#create-evc-train').show();
})

    </script>
{% endblock %}
