{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
{% endblock %}
{{ form_start(form) }}
<div class="row">
    <div class="col-md-10">{{ form_row(form.name) }}</div>
    <div class="col-md-10">{{ form_row(form.projects) }}</div>
    <div class="col-md-10">{{ form_row(form.trainType) }}</div>

    <div class="content-type-train col-md-12 mt-4" id="select_locomotive">
        <h4>Select EVC : </h4>
        <img src="{{ asset('/build/img/trains/locomotive-select.svg') }}" alt="" class="col-md-10 img-type-train">
        <figure class="content-ertms col-md-10">
            <img src="{{ asset('/build/img/trains/ertms.svg') }}" alt="" class="ertms " id="ertms-loco-1">
            <img src="{{ asset('/build/img/trains/ertms.svg') }}" alt="" class="ertms " id="ertms-loco-2">

        </figure>
    </div>

    <div class="content-type-train col-md-12 mt-4" id="select_train">
        <h4>Select EVC : </h4>
        <img src="{{ asset('/build/img/trains/train-select.svg') }}" alt="" class="col-md-10  img-type-train">
        <figure class="content-ertms col-md-10">
            <img src="{{ asset('/build/img/trains/ertms.svg') }}" alt="" class="ertms" id="ertms-train-1">
            <img src="{{ asset('/build/img/trains/ertms.svg') }}" alt="" class="ertms" id="ertms-train-2">
            <img src="{{ asset('/build/img/trains/ertms.svg') }}" alt="" class="ertms " id="ertms-train-3">
        </figure>
    </div>

    <div class="col-md-10 mt-4" id="btn-choice-ertms">
        <div class="content-btn-train col-12">
            <p id="create-ertms-1">Add ERTMS</p>
            <p id="create-ertms-2">Add ERTMS</p>
        </div>

        <div class="col-md-12 mt-4" id="create-ertms-train-1">
            add ertms 1
        </div>
        <div class="col-md-12 mt-4" id="create-ertms-train-2">
            add ertms 2
        </div>
    </div>


</div>
<button class="btn btn-primary mt-4">{{ button|default('Send') }}</button>

{{ form_end(form) }}



{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>

//        $('#select_train').hide();
//        $('#select_locomotive').hide();
$(document).ready(function() {

    //Vidage des inputs aux changement de select
    // $('select[name="trains[projects]"], select[name="trains[trainType]"]').change(function(){
    //     $('input[name="trains[name]"]').val('');
    // });



    //Traitement du choix du type de train
    $('#trains_trainType')

        .change(function () {

            let current_choice = "";

            $("#trains_trainType option:selected").each(function () {

                current_choice += $(this).text() + " ";

            });

            if (current_choice.trim() == 'Train') {
                $('#select_train').show();
                $('#select_locomotive').hide();

                $('#ertms-train-1').click(function () {
                    //l'ertms de gauche selectionner
                    $('#ertms-train-1').addClass("selected");

                    $('#ertms-train-2').removeClass("selected");
                    $('#btn-choice-ertms').show();


                });
                $('#ertms-train-2').click(function () {
                    // l'ertms du milieu selectionner
                    $('#ertms-train-2').addClass("selected");

                    $('#ertms-train-1').removeClass("selected");
                    $('#ertms-train-3').removeClass("selected");
                    $('#btn-choice-ertms').show();


                });
                $('#ertms-train-3').click(function () {
                    // l'ertms de droite selectionner
                    $('#ertms-train-3').addClass("selected");

                    $('#ertms-train-2').removeClass("selected");
                    $('#btn-choice-ertms').show();
                });

                $('#trains_trainType').change(function () {$('#btn-choice-ertms').hide();});




            } else if (current_choice.trim() == 'Locomotive') {

                $('#select_locomotive').show();
                $('#select_train').hide();

                $('#ertms-loco-1').click(function () {
                    //l'ertms de gauche selectionner
                    $('#ertms-loco-1').addClass("selected");
                    $('#ertms-loco-2').removeClass("selected");
                    $('#btn-choice-ertms').show();

                });
                $('#ertms-loco-2').click(function () {
                    //l'ertms de droite selectionner
                    $('#ertms-loco-2').addClass("selected");
                    $('#ertms-loco-1').removeClass("selected");
                    $('#btn-choice-ertms').show();

                });
                $('#trains_trainType').change(function () {$('#btn-choice-ertms').hide();});


            }

        }).change();
})

    $('#select-ertms').click(function () {
        $('#create-ertms-train').hide();
        $('#select-ertms-train').show();
        $('#trains_trainType').change(function () {$('#btn-choice-ertms').hide();});
    })
    $('#create-ertms').click(function () {
        $('#select-ertms-train').hide();
        $('#create-ertms-train').show();
        $('#trains_trainType').change(function () {$('#btn-choice-ertms').hide();});
        })
        
        $('#trains_projects').change(function () {
            $('.content-type-train').hide();
            $('#trains_trainType').val('');
            $('#btn-choice-ertms').hide();


        })

    </script>
{% endblock %}
