{% extends 'alstom/index.html.twig' %}

{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2><i class="fa fa-angle-right"></i> Trains</h2>
            <a href="{{ path('client.create-train') }}"><button class="btn btn-primary">New</button></a>
        </div>
{#        {% for message in app.flashes('success') %}#}
{#            <div class="alert alert-success">#}
{#                {{ message }}#}
{#            </div>#}
{#        {% endfor %}#}
        <section id="unseen">
            <div class="pull-left search">
                {{ form_start(form) }}
                {{ form_row(form.name_train) }}
                {{ form_end(form) }}
            </div>
            <table class="table table-condensed table-content">
                {#                        <table class="table  table-striped table-condensed table-content">#}
                <thead>
                <tr class="title-table">
                    <th scope="col">Name</th>
                    <th scope="col" class="">Projects</th>
                </tr>
                </thead>
                <tbody>
                {% for train in trains %}
                    <tr class="td-table">
                        <td class="mt-4"><a href="{{ path('alstom.show-train', {id: train.id}) }}">{{  train.name }}</td>
                        <td>{{ train.Projects.name|upper }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}