{% extends 'alstom/dashboard.html.twig' %}

{% block body %}
    <main class="" role="main">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>
                <i class="fa fa-angle-right"></i>
                Baseline</h2>
            <a href="{{ path('alstom.create-baseline') }}">
                <button class="btn btn-primary">New</button>
            </a>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="main-card mb-3 card">
            <div class="card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Search</div>
                <div class="btn-actions-pane-right">
                    <input type="text" class="col-12">
                </div>
            </div>
            <div class="table-responsive">
                <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for baseline in baselines %}
                            {% if baseline.Original == true %}
                                <tr class="td-table">
                                    <td class="text-center text-muted">
                                        <a href="{{path('alstom.show-baseline',{'id':baseline.id})}}">
                                            {{ baseline.name }}
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        {{ baseline.date|date('d/m/Y') }}
                                    </td>

                                </tr>
                            {% endif %}
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </main>
{% endblock %}
{% block javascripts %}

    <script></script>
{% endblock %}
