{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet">
{% endblock %}


{% extends 'alstom/index.html.twig' %}
{% block body %}
    <div class="spinner-border text-info wait-spinner" id="wait-spinner" role="status">
        <span class="sr-only">
            Loading...
        </span>
    </div>
    <main class="col-md-10 offset-1 col-lg-10 main-baseline" role="main">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>
                <i class="fa fa-angle-right"></i>
                Add baseline</h2>
        </div>
        <div class="jumbotron content-form-engineer">
            {{ form_start(form_baseline, {'action': path('alstom.addBaseline'), 
               'attr': {'id': 'form_baseline'}})}}

            <div class="row">
                <div class="col-md-12">
                    {{form_row(form_baseline.name)}}</div>

            </div>
            <button class="btn btn-primary mt-4" data-target="#modal_equipement" data-toggle="modal" id="create-baseline">{{ button|default('Add') }}</button>

            {{ form_end(form_baseline) }}
        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="modal_equipementLabel" class="modal fade modal-equipement" id="modal_equipement" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title title-baseline" id="modal_equipementLabel"></h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body content-allEquipement">
                        <div class="show-equipment" id="show-equipment"></div>

                        <div id="modal-content-form-equipement">
                            {{ include ("alstom/ertms/_form-equipment.html.twig", {form: form_equipement}) }}
                        </div>

                        <div class=" mt-4">
                            <a class="btn-add-equipment col-5 ml-5 mb-5" id="create-equipment">Add equipement</a>
                        </div>
                    </div>
                    <a class="previous-equipment" href="" id="previous-equipment">Previous</a>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="valid-all-equipments" type="button">Valid All Equipments</button>
                        <button class="btn btn-secondary" data-dismiss="modal" id="close-equipement" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </main>
{% endblock %}
