{% extends 'alstom/index.html.twig' %}

{% block body %}

    <div id="modal-content-form-equipement-edit">
        <button aria-label="Close" class="close" data-dismiss="modal" id="close-modal-form-equipment-edit" style="color:red; position:absolute; right:20px; margin-top:-10px;" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="form-equipment" id="formulaire-equipment">
            {{ form_start(form_equipement, {'action': path('alstom.addEquipment'), 
               'attr': {'id': 'form_equipement_edit'}}) }}
            {{form_row(form_equipement.Type)}}
            {{form_row(form_equipement.sous_type)}}
            {{form_row(form_equipement.DTR_board)}}
            {{form_row(form_equipement.Indice_DTR)}}
            {{form_row(form_equipement.Num_serie)}}
            {{form_row(form_equipement._token)}}

            <p><input class="btn-valid-Equipment" id="soumission-equipement-edit" name="soumission_edit_equipement" type="submit" value="Update"/></p>

            {{form_end(form_equipement)}}</div>

    </div>

    <div class="spinner-border text-info wait-spinner" id="wait-spinner" role="status">
        <span class="sr-only">
            Loading...
        </span>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal-form-version" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header card-header-title">
                    <h4 class="modal-title card-element-title">Add version logiciel</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" id="close-modal-form-version" style="color:red; position:absolute; right:20px; margin-top:-10px;" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-content clearfix">
                        <div class="form-version" id="formulaire-version">
                            {{ form_start(form_version, {'action': path('alstom.addVersion'), 
               'attr': {'id': 'form_version'}}) }}
                            {{form_row(form_version.release_note)}}
                            <input class="btn-valid-version btn btn-secondary " id="soumission-version" name="soumission_version" type="submit" value="Add"/>
                            {{form_end(form_version)}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {# --------------------------- #}
    <main class="col-md-12 col-lg-12 pl-5 px-4 main-baseline" role="main">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

            <h1>{{baseline.name}}</h1>
            <div class="content-btn-add-config">
                <button class="btn btn-primary" id="add-configLogiciel">Add Configuration Logiciel</button>
                {% if (baseline.VersionLogiciel) %}
                    <button class="btn btn-secondary" data-target="#modal-form-version" data-toggle="modal" id="add-versionLogiciel">Edit Version Logiciel</button>
                {% else %}
                    <button class="btn btn-primary" data-target="#modal-form-version" data-toggle="modal" id="add-versionLogiciel">Add Version Logiciel</button>
                {% endif %}
            </div>

        </div>


        <div class="content-equipments-plug row">

            <div class="show-equipment col-lg-7 row" id="show-equipment" style="">

                <div class="col-xl-6 col-md-6 mt-4">
                    <div class="card card-stats card-equipment">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5" style="font-size:2em;display:flex; justify-content:space-around;font-weight:bold">
                                    <div class="icon-big text-center">
                                        <div class="icon-warning">
                                            <i class="fas fa-server"></i>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="card-title">{{evc.type.name}}</h4>
                                <div class="col-12">
                                    <div class="numbers">
                                        <div>
                                            {% for card in cards %}
                                                <div class="card-card col-12 mt-4 mb-4">
                                                    <div class="card_title title-white">
                                                        <p>{{card.sousType.name}}</p>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <p class="title-li">DTR</p>
                                                            <span style="line-height: 1.42857143;">{{card.DTRboard}}</span>
                                                        </li>
                                                        <li>
                                                            <p class="title-li">Indice</p>
                                                            <span style="line-height: 1.42857143;">
                                                                {{card.IndiceDTR}}
                                                            </span>

                                                        </li>
                                                        <li>
                                                            <p class="title-li">N°</p>
                                                            <span style="line-height: 1.42857143;">{{card.Numserie}}</span>

                                                        </li>
                                                    </ul>

                                                    <p class="edit-delete-equipement edit-card">
                                                        <a class="edit-{{card.id}}" id="edit-equipement-{{card.id}}">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                        <a id="delete-">
                                                            <i class="fas fa-trash-alt poubelle"></i>
                                                        </a>
                                                    </p>
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"><hr>
                            <div class="stats">
                                <div>
                                    <i class="fa fa-refresh"></i>
                                    <span style="display:flex; justify-content:space-around;font-weight:bold">
                                        <p>{{evc.DTRboard}}</p>
                                        <p>{{evc.IndiceDTR}}</p>
                                        <p>{{evc.Numserie}}</p>
                                    </span>
                                </div>
                                <p class="edit-delete-equipement">
                                    <a class="edit-{{evc.id}}" id="edit-equipement-{{evc.id}}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a id="delete-">
                                        <i class="fas fa-trash-alt poubelle"></i>
                                    </a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                {% for equipement in equipements %}
                    {% if equipement.status == true %}
                        <div class="col-xl-6 col-md-6 mt-4">
                            <div class="card card-stats card-equipment">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5" style="font-size:2em;display:flex; justify-content:space-around;font-weight:bold">
                                            <div class="icon-big text-center">
                                                <div class="icon-warning">
                                                    <i class="fas fa-server"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="numbers">
                                                <div>
                                                    <h4 class="card-title">{{equipement.Type.name}}</h4>
                                                    <p class="card-category">
                                                        {% if equipement.SousType %}
                                                            {{equipement.SousType.name}}
                                                        {% endif %}
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer"><hr>
                                    <div class="stats">
                                        <div>
                                            <i class="fa fa-refresh"></i>
                                            <span style="display:flex; justify-content:space-around;font-weight:bold">
                                                <p>{{equipement.DTRboard}}</p>
                                                <p>{{equipement.IndiceDTR}}</p>
                                                <p>{{equipement.Numserie}}</p>
                                            </span>
                                        </div>
                                        <p class="edit-delete-equipement">
                                            <a class="edit-{{equipement.id}}" id="edit-equipement-{{equipement.id}}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a id="delete-">
                                                <i class="fas fa-trash-alt poubelle"></i>
                                            </a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-lg-5 content-form-plug-version row mt-3">

                <div class="content-version-ERTMS col-lg-12">
                    {% for ertms in baseline.ERTMS %}
                        {% if ertms.status %}
                            <h3 id="title-version">Version ERTMS</h3>
                            {{ ertms.solution.date|date('d/m/Y')  }}

                        {% endif %}
                    {% endfor %}
                    <div class="content-version-config">
                        {% if (baseline.VersionLogiciel) %}
                            <h3 id="title-version">Software Version</h3>
                            {{ baseline.VersionLogiciel.ReleaseNote}}
                        {% else %}
                            <h3 id="title-version"></h3>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>


    </main>


{% endblock %}
