{% extends 'alstom/dashboard.html.twig' %}


{% block body %}

    <div id="modal-content-form-equipement-edit">
        <button aria-label="Close" class="close" data-dismiss="modal" id="close-modal-form-equipment-edit" style="color:red; position:absolute; right:20px; margin-top:-10px;" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="form-equipment" id="formulaire-equipment">
            {{ form_start(form_equipement, { 
               'attr': {'id': 'form_equipement_edit_instance'}}) }}
            {{form_row(form_equipement.Type)}}
            {{form_row(form_equipement.sous_type)}}
            {{form_row(form_equipement.DTR_board)}}
            {{form_row(form_equipement.Indice_DTR)}}
            {{form_row(form_equipement.Num_serie)}}
            {{form_row(form_equipement._token)}}
            <p><input class="btn-valid-Equipment" id="soumission-equipement-edit" name="soumission_edit_equipement" type="submit" value="Update"/></p>
            {{form_end(form_equipement)}}</div>
    </div>

    <div class="spinner-border text-info wait-spinner" id="wait-spinner" role="status" style="display:none">

        <span class="sr-only">
            Loading...
        </span>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal-form-version" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header card-header-title">
                    <h4 class="modal-title card-element-title">Add version logiciel</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" id="close-modal-form-version" style="color:red; position:absolute; right:20px; margin-top:-10px;" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-content clearfix">
                        <div class="form-version" id="formulaire-version">
                            {{ form_start(form_version, {'action': path('alstom.addVersion'), 
               'attr': {'id': 'form_version'}}) }}
                            {{form_row(form_version.release_note)}}
                            <input class="btn-valid-version btn btn-secondary " id="soumission-version" name="soumission_version" type="submit" value="Add"/>
                            {{form_end(form_version)}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {# --------------------------- #}
    <main class="" role="main">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>{{baseline.etcsid}}</h1>
        </div>
        <div class="content-equipments-plug row">
            <div class="show-equipment col-lg-7 row" id="show-equipment" style="">
                <div class="mb-3 card col-xl-5 col-md-5 mt-4 ">
                    <div class="card-header-tab card-header">
                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                            <h3>{{evc.type.name}}</h3>
                            <span class="content-descr-evc">
                                <p>{{evc.DTRboard}}</p>
                                <p>{{evc.IndiceDTR}}</p>
                                <p>{{evc.Numserie}}</p>
                            </span>
                        </div>
                    </div>
                    <div class="scroll-area-lg ">
                        <perfect-scrollbar class="ps-show-limits">
                            <div style="position: static;" class="ps ps--active-y">
                                <div class="ps-content">
                                    <ul class="todo-list-wrapper list-group list-group-flush">
                                        {% for card in cards %}
                                            <li class="list-group-item">
                                                <div class="todo-indicator bg-warning"></div>
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left mr-2" style="color:black; font-weight:bold">
                                                            {{card.sousType.name}}
                                                        </div>
                                                        <div class="widget-content-right widget-content-actions">
                                                            <span style="display:flex; justify-content:space-between; align-items:center">
                                                                <p style='margin:0'>{{card.DTRboard}}</p>
                                                                <p style='margin:0'>{{card.IndiceDTR}}</p>
                                                                <p style='margin:0'>{{card.Numserie}}</p>
                                                            </span>
                                                        </div>
                                                        <span class="edit-baseline-instance col-12">

                                                            <a class="edit-{{card.id}}" id="edit-equipement-{{card.id}}">
                                                                <button class="border-0 btn-transition btn btn-outline-secondary" data-target="#modal-content-form-equipement-edit" data-toggle="modal">
                                                                    <fa name="check" _nghost-c2="">
                                                                        <i _ngcontent-c2="" aria-hidden="true" class="fa fa-edit"></i>
                                                                    </fa>
                                                                </button>
                                                            </a>
                                                            <button class="border-0 btn-transition btn btn-outline-danger">
                                                                <fa name="trash" _nghost-c2="">
                                                                    <i _ngcontent-c2="" aria-hidden="true" class="fa fa-trash"></i>
                                                                </fa>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!---->
                            </div>
                        </perfect-scrollbar>
                    </div>
                    <div class="d-block text-right card-footer">
                        <button class="btn btn-secondary">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
                {% for equipement in equipements %}
                    {% if equipement.status == true %}
                        <div class="mb-3 card col-xl-5 col-md-5 mt-4">
                            <div class="card-header-tab card-header">
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                    <h4>{{equipement.Type.name}}</h4>
                                </div>
                            </div>
                            <div class="scroll-area-lg ">
                                <perfect-scrollbar class="ps-show-limits">
                                    <div style="position: static;" class="ps ps--active-y">
                                        <div class="ps-content">
                                            <ul class="todo-list-wrapper list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <div class="todo-indicator bg-warning"></div>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-2" style="color:black; font-weight:bold">
                                                                {% if equipement.SousType %}
                                                                    {{equipement.SousType.name}}
                                                                {% endif %}
                                                            </div>
                                                            <div class="widget-content-right widget-content-actions">
                                                                <span style="display:flex; justify-content:space-between; align-items:center">
                                                                    <p style='margin:0'>{{equipement.DTRboard}}</p>
                                                                    <p style='margin:0'>{{equipement.IndiceDTR}}</p>
                                                                    <p style='margin:0'>{{equipement.Numserie}}</p>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <!---->
                                    </div>
                                </perfect-scrollbar>
                            </div>
                            <div class="d-block text-right card-footer">
                                <span class="edit-baseline-instance col-12">
                                    <a class="edit-{{equipement.id}}" id="edit-equipement-{{equipement.id}}">
                                        <button class="border-0 btn-transition btn btn-outline-secondary" data-target="#modal-content-form-equipement-edit" data-toggle="modal">

                                            <fa name="check" _nghost-c2="">
                                                <i _ngcontent-c2="" aria-hidden="true" class="fa fa-edit"></i>
                                            </fa>
                                        </button>
                                    </a>
                                    <button class="border-0 btn-transition btn btn-outline-danger">
                                        <fa name="trash" _nghost-c2="">
                                            <i _ngcontent-c2="" aria-hidden="true" class="fa fa-trash"></i>
                                        </fa>
                                    </button>
                                </span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-lg-5 content-form-plug-version row mt-3">
                <div class="content-version-ERTMS col-lg-12">
                    {% for ertms in baseline.ERTMS %}
                        {% if ertms.status %}
                            <div class="content-date-update">
                                <h3 id="title-version">Last Update</h3>
                                <h5>{{ ertms.solution.date|date('d/m/Y')  }}</h5>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="content-date-update">
                        {% if (baseline.VersionLogiciel) %}
                            <h3 id="title-version">Software Version</h3>
                            <div class="d-flex align-items-center">
                                <h5 style="padding-right:10px;">{{ baseline.VersionLogiciel.ReleaseNote}}</h5>
                                {% if (baseline.VersionLogiciel) %}
                                    <button class="btn btn-secondary" data-target="#modal-form-version" data-toggle="modal" id="add-versionLogiciel">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                {% endif %}
                            </div>
                        {% else %}
                            <button class="btn btn-primary" data-target="#modal-form-version" data-toggle="modal" id="add-versionLogiciel">
                                Add Version Logiciel
                            </button>
                            <h3 id="title-version-ertms"></h3>
                        {% endif %}
                    </div>


                </div>

                <div class="content-form-plug col-lg-12">
                    <h3>Plug</h3>
                    <button class="btn-shadow d-inline-flex align-items-center btn btn-success" data-target="#modal-form-plug" data-toggle="modal" type="button">
                        <fa _nghost-c2="" class="mr-2" name="plus">
                            <i _ngcontent-c2="" aria-hidden="true" class="fa fa-plus"></i>
                        </fa>
                        Add New
                    </button>
                    <div class="content-plug-file" id="content-plug-file">
                        <table class="table table-condensed table-content card-body table-full-width ">
                            <thead class="title-table" style="text-align:center">
                                <th class="th-empty" scope="col"></th>
                                <th class="th-empty" scope="col">Plugs</th>
                                <th class="th-empty" scope="col"></th>
                            </thead>
                            <tbody id="content-tr-plug" style="font-weight:bold; text-transform:uppercase">
                                {% for assocplug in plugs %}
                                    {% for plug in assocplug %}
                                        <tr class="td-table">
                                            <td>{{ plug.name }}</td>
                                            <td>{{ plug.UpdatedAt|date('d/m/Y') }}</td>
                                            <td class="td-plug" id="{{plug.plug}}">
                                                <i class="fas fa-download"></i>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- Modal -->
    <div class="modal fade" id="modal-form-plug" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header card-header-title">
                    <h4 class="modal-title card-element-title">Add plug
                    </h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" id="close-modal-form-plug" style="color:red; position:absolute; right:20px; margin-top:-10px;" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-add-plug">
                    <div class="previous-plug" id="previous-plug">
                        {% for assocplug in plugs %}
                            {% for plug in assocplug %}
                                <span class='content-key-name-plug' id='{{plug.id}}'>
                                    <p>{{ plug.name }}</p>
                                    <p>{{ plug.plug }}</p>
                                    <a class="delte-plug-{{plug.id}}" id='delete-plug'>
                                        <i class='fas fa-trash-alt poubelle'></i>
                                    </a>
                                </span>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="show-done-plug" id="show-done-plug"></div>
                    <div class="card-content clearfix" id="card-content-plug">
                        <div class="content-name-drag-plug row" id="content-name-drag-plug">
                            <div class="name-plug col-md-6">
                                <form action="" class="form-name-plug" id="form-name-plug">
                                    <div class="form-group">
                                        <label for="input-name-plug">Type of plug</label>
                                        <input class="form-control" id="input-name-plug" placeholder="" type="text">
                                    </div>
                                    <input
                                    class="btn btn-success" id="valid-plug" type="submit" value="Add">
                                {# <div class="btn btn-danger" id="close-add-plug">Cancel</div> #}
                                </form>
                            </div>
                            <form class="box has-advanced-upload col-md-6" enctype="multipart/form-data" id="form-file" method="post" novalidate="">
                                <div class="box__input  content-input-iframe">

                                    <i class="fas fa-cloud-upload-alt" style="font-size:2em"></i>
                                    <input class="box__file" data-multiple-caption="{count} files selected" id="file" multiple="" name="files[]" type="file">
                                    <label class="label-drop" for="file">
                                        <strong>Choose a file</strong>
                                        <span class="box__dragndrop">
                                            or drag it here</span>.</label>
                                    <button class="box__button" type="submit">Upload</button>
                                </div>
                                <div class="box__uploading">
                                    <div class="ldBar label-center" data-preset="circle" id="test-progress"></div>
                                </div>
                                <div class="box__success">Done!</div>
                                <div class="box__error">Error!<span></span>.<a class="box__restart" role="button">Try again!</a>
                                </div>
                                <input name="ajax" type="hidden" value="1">
                            </form>
                        </div>
                    </div>
                    <button class="btn-shadow  btn btn-success col-12" id="add-form-plug" type="button">
                        <fa _nghost-c2="" class="mr-2" name="plus">
                            <i _ngcontent-c2="" aria-hidden="true" class="fa fa-plus"></i>
                        </fa>
                    </button>
                    <button class="btn btn-success btn-shadow mt-4" id="valid-all-plug">Valid</button>
                    <button aria-label="Close" class="btn btn-danger btn-shadow-danger mt-4" data-dismiss="modal" id="cancel-all-plug">Cancel</button>

                </div>
            </div>
        </div>

    {% endblock %}
