{% extends 'alstom/dashboard.html.twig' %}


{% block body %}

    <div id="modal-content-form-equipement-edit">
        <button aria-label="Close" class="close" data-dismiss="modal" id="close-modal-form-equipment-edit" style="color:red; position:absolute; right:20px; margin-top:-10px;" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="form-equipment" id="formulaire-equipment">
            {{ form_start(form_equipement, {'action': path('alstom.addEquipment'), 
               'attr': {'id': 'form_equipement_edit'}}) }}
            {{form_row(form_equipement.Type)}}
            {{form_row(form_equipement.sous_type)}}
            {{form_row(form_equipement.DTR_board)}}
            {{form_row(form_equipement.Indice_DTR)}}
            {{form_row(form_equipement.Num_serie)}}
            {{form_row(form_equipement._token)}}

            <p><input class="btn-valid-Equipment" id="soumission-equipement-edit" name="soumission_edit_equipement" type="submit" value="Update"/></p>

            {{form_end(form_equipement)}}</div>

    </div>
    <div class="spinner-border text-info wait-spinner" id="wait-spinner" role="status" style="display:none">
        <span class="sr-only">
            Loading...
        </span>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-form-version" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header card-header-title">
                    <h4 class="modal-title card-element-title">Add version logiciel</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" id="close-modal-form-version" style="color:red; position:absolute; right:20px; margin-top:-10px;" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-content clearfix">
                        <div class="form-version" id="formulaire-version">
                            {{ form_start(form_version, {'action': path('alstom.addVersion'), 
               'attr': {'id': 'form_version'}}) }}
                            {{form_row(form_version.release_note)}}
                            <input class="btn-valid-version btn btn-secondary " id="soumission-version" name="soumission_version" type="submit" value="Add"/>
                            {{form_end(form_version)}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {# --------------------------- #}
    <main class="" role="main">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

            <h1>{{baseline.name}}</h1>
            <div class="content-btn-add-config">
                {% if (baseline.VersionLogiciel) %}
                    <button class="btn btn-secondary" data-target="#modal-form-version" data-toggle="modal" id="add-versionLogiciel">Edit Version Logiciel</button>
                {% else %}
                    <button class="btn btn-primary" data-target="#modal-form-version" data-toggle="modal" id="add-versionLogiciel">Add Version Logiciel</button>
                {% endif %}
                <a href="">
                    <button class="btn btn-secondary">Edit</button>
                </a>
            </div>


        </div>
        <div class="content-equipments-plug row">
            <div class="show-equipment col-lg-7 row" id="show-equipment" style="">
                <div class="mb-3 card col-xl-5 col-md-5 mt-4 ">
                    <div class="card-header-tab card-header">
                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                            <h3>{{evc.type.name}}</h3>
                            <span class="content-descr">
                                <p>{{evc.DTRboard}}</p>
                                <p>{{evc.IndiceDTR}}</p>
                                <p>{{evc.Numserie}}</p>
                            </span>
                        </div>
                    </div>
                    <div class="scroll-area-lg ">
                        <perfect-scrollbar class="ps-show-limits">
                            <div style="position: static;" class="ps ps--active-y">
                                <div class="ps-content">
                                    <ul class="todo-list-wrapper list-group list-group-flush">
                                        {% for card in cards %}
                                            <li class="list-group-item">
                                                <div class="todo-indicator bg-warning"></div>
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left mr-2" style="color:black; font-weight:bold">
                                                            {{card.sousType.name}}
                                                        </div>
                                                        <div class="widget-content-right widget-content-actions">
                                                            <span style="display:flex; justify-content:space-between; align-items:center">
                                                                <p style='margin:0'>{{card.DTRboard}}</p>
                                                                <p style='margin:0'>{{card.IndiceDTR}}</p>
                                                                <p style='margin:0'>{{card.Numserie}}</p>
                                                            </span>
                                                        </div>
                                                        <span class="edit-delete-equipement-baseline col-12">
                                                            <a class="edit-{{card.id}}" id="edit-equipement-{{card.id}}">

                                                                <button class="border-0 btn-transition btn btn-outline-secondary" data-target="#modal-content-form-equipement-edit" data-toggle="modal">

                                                                    <fa name="check" _nghost-c2="">
                                                                        <i _ngcontent-c2="" aria-hidden="true" class="fa fa-edit"></i>
                                                                    </fa>
                                                                </button>
                                                            </a>
                                                            <button class="border-0 btn-transition btn btn-outline-danger">
                                                                <fa name="trash" _nghost-c2="">
                                                                    <i _ngcontent-c2="" aria-hidden="true" class="fa fa-trash"></i>
                                                                </fa>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!---->
                            </div>
                        </perfect-scrollbar>
                    </div>
                    <div class="d-block text-right card-footer">
                        <button class="btn btn-secondary">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
                {% for equipement in equipements %}
                    {% if equipement.status == true %}
                        <div class="mb-3 card col-xl-5 col-md-5 mt-4">
                            <div class="card-header-tab card-header">
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                    <h4>{{equipement.Type.name}}</h4>
                                </div>
                            </div>
                            <div class="scroll-area-lg ">
                                <perfect-scrollbar class="ps-show-limits">
                                    <div style="position: static;" class="ps ps--active-y">
                                        <div class="ps-content">
                                            <ul class="todo-list-wrapper list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <div class="todo-indicator bg-warning"></div>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-2" style="color:black; font-weight:bold">
                                                                {% if equipement.SousType %}
                                                                    {{equipement.SousType.name}}
                                                                {% endif %}
                                                            </div>
                                                            <div class="widget-content-right widget-content-actions">
                                                                <span style="display:flex; justify-content:space-between; align-items:center">
                                                                    <p style='margin:0'>{{equipement.DTRboard}}</p>
                                                                    <p style='margin:0'>{{equipement.IndiceDTR}}</p>
                                                                    <p style='margin:0'>{{equipement.Numserie}}</p>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <!---->
                                    </div>
                                </perfect-scrollbar>
                            </div>
                            <div class="d-block text-right card-footer">
                                <span class="edit-delete-equipement-baseline col-12">
                                    <a class="edit-{{equipement.id}}" id="edit-equipement-{{equipement.id}}">
                                        <button class="border-0 btn-transition btn btn-outline-secondary" data-target="#modal-content-form-equipement-edit" data-toggle="modal">
                                            <fa name="check" _nghost-c2="">
                                                <i _ngcontent-c2="" aria-hidden="true" class="fa fa-edit"></i>
                                            </fa>
                                        </button>
                                    </a>
                                    <button class="border-0 btn-transition btn btn-outline-danger">
                                        <fa name="trash" _nghost-c2="">
                                            <i _ngcontent-c2="" aria-hidden="true" class="fa fa-trash"></i>
                                        </fa>
                                    </button>
                                </span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-lg-5 content-form-plug-version row mt-3">

                <div class="content-version-ERTMS col-lg-12">
                    {% for ertms in baseline.ERTMS %}
                        {% if ertms.status %}
                            <h3 id="title-version">Version ERTMS</h3>
                            {{ ertms.solution.date|date('d/m/Y')  }}

                        {% endif %}
                    {% endfor %}
                    <div class="content-version-config">
                        {% if (baseline.VersionLogiciel) %}
                            <h3 id="title-version">Software Version</h3>
                            {{ baseline.VersionLogiciel.ReleaseNote}}
                        {% else %}
                            <h3 id="title-version"></h3>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>


    </main>
{% endblock %}
