{% extends 'alstom/index.html.twig' %}

            {% block body %}
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1>Projects</h1>
                        <a href="{{ path('alstom.create-project') }}"><button class="btn btn-primary">New</button></a>
                    </div>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="jumbotron search-bar-client">
                        <div class="container">
                            {{ form_start(form) }}
                            <div class="form-row row">
                                <div class="col-8">
                                    {{ form_row(form.name_project) }}
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-primary">Search</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm table-all-projects">
                            <thead class="thead-dark">
                            <tr class="title-table-projects">
                                <th scope="col">Name</th>
                                <th scope="col" class="title-numberTrain-projects">Number of trains</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td class="name-project-table"><a href="{{ path('alstom.project-show', {id: project.id}) }}">{{  project.name }}</td>
                                    <td class="nbtrain-project-table">
                                        {{ dump(project.trains) }}
{#                                        {% for train in project.trains %}{{ dump(train) }}{% endfor %}#}
                                    </td>

                                    <td class="content-btn-edit-delete">
                                        <a href="{{ path('alstom.edit-project', {id: project.id}) }}"><button class="btn btn-secondary btn-edit-project">Edit</button> </a>
                                        <form method="post" action="{{ path('alstom.delete-project' ,{id:project.id}) }}" onsubmit="return confirm('Are you sure to delete this project?')">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                                            <button class="btn btn-danger btn-delete-project">X</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </main>
            {% endblock %}
