{% extends 'alstom/index.html.twig' %}

            {% block body %}
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2><i class="fa fa-angle-right"></i> Projects</h2>
                        <a href="{{ path('alstom.create-project') }}"><button class="btn btn-primary">New</button></a>
                    </div>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="jumbotron search-bar">
                        <div class="container">
                            {{ form_start(form) }}
                            <div class="form-row row">
                                <div class="col-8">
                                    {{ form_row(form.name_project) }}
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-primary">Search</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed table-content">
                            <thead>
                            <tr class="title-table">
                                <th class="">Name</th>
                                <th scope="col" class=" numeric">Number of trains</th>
                                <th scope="col" class="th-empty"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                                <tr class="td-table">
                                    <td><a href="{{ path('alstom.project-show', {id: project.id}) }}">{{  project.name }}</td>
                                    <td>
{#                                       {% for train in project.trains %}#}
                                           {{  project.trains|length }}
{#                                        {% endfor %}#}
                                    </td>
                                    <td class="content-btn-edit-delete">
                                        <a href="{{ path('alstom.edit-project', {id: project.id}) }}"><button class="btn btn-secondary btn-edit-project"><i class="fas fa-edit"></i></button> </a>
                                        <form method="post" action="{{ path('alstom.delete-project' ,{id:project.id}) }}" onsubmit="return confirm('Are you sure to delete this project?')">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                                            <button class="btn btn-danger btn-delete-project"><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </section>
                </main>
            {% endblock %}
